* {
 background-color: rgb(204, 204, 255);
 color: white;
}

body {
    margin: auto;
    width: 70%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

ul {
    font-family: sans-serif;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
}

ul li {
    font-size: 1.2em;
    margin: 10px;
}

ul a:link {
    text-decoration: none;
}

ul a:hover {
    color: pink;
    text-decoration: underline;
}



